In [3]:
import pandas as pd

# Caminho do arquivo CSV
file_path = 'Students_data/Students Social Media Addiction.csv'

# Carregar o dataset com cabeçalho do próprio arquivo
df = pd.read_csv(file_path)

# Exibir as 10 primeiras linhas
display(df.head(10))

# Verificar valores nulos por coluna
missing_values = df.isnull().sum()
print("Valores nulos por coluna:\n", missing_values)

# Total de valores nulos
print("\nTotal de valores nulos:", missing_values.sum())


# Verificar valores ausentes representados por interrogação '?'
missing_question = (df == '?').sum()
print("\nValores representados por '?':\n", missing_question)
print("\nTotal de '?':", missing_question.sum())

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,0,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,4,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,1,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,2,7
5,6,19,Female,Undergraduate,Australia,7.2,Instagram,Yes,4.5,4,Complicated,5,9
6,7,23,Male,Graduate,Germany,1.5,LinkedIn,No,8.0,9,Single,0,2
7,8,20,Female,Undergraduate,Brazil,5.8,Snapchat,Yes,6.0,6,In Relationship,2,8
8,9,18,Male,High School,Japan,4.0,TikTok,No,6.5,7,Single,1,5
9,10,21,Female,Graduate,South Korea,3.3,Instagram,No,7.0,7,In Relationship,1,4

Valores nulos por coluna:
 Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

Total de valores nulos: 0

Valores representados por '?':
 Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

Total de '?': 0

In [7]:
print("Shape do DataFrame:", df.shape)

Shape do DataFrame: (705, 13)

In [9]:
# Lista das colunas categóricas
categorical_columns = [
    'Gender', 
    'Academic_Level', 
    'Country', 
    'Most_Used_Platform', 
    'Affects_Academic_Performance', 
    'Relationship_Status'
]

print("Número de categorias distintas por coluna:")
for col in categorical_columns:
    num_unique = df[col].nunique(dropna=True)  # dropna=True ignora NaN
    print(f"{col}: {num_unique} categoria(s)")

Número de categorias distintas por coluna:
Gender: 2 categoria(s)
Academic_Level: 3 categoria(s)
Country: 110 categoria(s)
Most_Used_Platform: 12 categoria(s)
Affects_Academic_Performance: 2 categoria(s)
Relationship_Status: 3 categoria(s)

In [10]:
# Lista das colunas categóricas
categorical_columns = [
    'Gender', 
    'Academic_Level', 
    'Country', 
    'Most_Used_Platform', 
    'Affects_Academic_Performance', 
    'Relationship_Status'
]

# Verificar distribuição percentual por coluna
for col in categorical_columns:
    print(f"\n--- {col} ---")
    print(df[col].value_counts(normalize=True, dropna=False).apply(lambda x: f"{x:.2%}"))

--- Gender ---
Gender
Female    50.07%
Male      49.93%
Name: proportion, dtype: object

--- Academic_Level ---
Academic_Level
Undergraduate    50.07%
Graduate         46.10%
High School       3.83%
Name: proportion, dtype: object

--- Country ---
Country
India          7.52%
USA            5.67%
Canada         4.82%
France         3.83%
Mexico         3.83%
               ...
Oman           0.14%
Afghanistan    0.14%
Syria          0.14%
Yemen          0.14%
Bhutan         0.14%
Name: proportion, Length: 110, dtype: object

--- Most_Used_Platform ---
Most_Used_Platform
Instagram    35.32%
TikTok       21.84%
Facebook     17.45%
WhatsApp      7.66%
Twitter       4.26%
LinkedIn      2.98%
WeChat        2.13%
Snapchat      1.84%
VKontakte     1.70%
LINE          1.70%
KakaoTalk     1.70%
YouTube       1.42%
Name: proportion, dtype: object

--- Affects_Academic_Performance ---
Affects_Academic_Performance
Yes    64.26%
No     35.74%
Name: proportion, dtype: object

--- Relationship_Status ---
Relationship_Status
Single             54.47%
In Relationship    40.99%
Complicated         4.54%
Name: proportion, dtype: object