In [2]:
import pandas as pd
import numpy as np

In [5]:
# Caminho para o arquivo CSV
file_path = 'car_data/car.data'

# Lista correta com os nomes das colunas, conforme a descrição do dataset Car Evaluation
columns = [
    'buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class'
]

# Leitura do arquivo
df = pd.read_csv(file_path, header=None, names=columns)

# Configurar o pandas para mostrar todas as colunas
pd.set_option('display.max_columns', None)

# Exibir as primeiras 10 linhas com todas as colunas
display(df.head(100))

   buying  maint  doors persons lug_boot safety  class
0   vhigh  vhigh      2       2    small    low  unacc
1   vhigh  vhigh      2       2    small    med  unacc
2   vhigh  vhigh      2       2    small   high  unacc
3   vhigh  vhigh      2       2      med    low  unacc
4   vhigh  vhigh      2       2      med    med  unacc
..    ...    ...    ...     ...      ...    ...    ...
95  vhigh  vhigh  5more       4      med   high  unacc
96  vhigh  vhigh  5more       4      big    low  unacc
97  vhigh  vhigh  5more       4      big    med  unacc
98  vhigh  vhigh  5more       4      big   high  unacc
99  vhigh  vhigh  5more    more    small    low  unacc

[100 rows x 7 columns]

In [4]:
# Verifica dados ausentes (valores NaN)
print(df.isnull().sum())

# Também verifica se há valores representando ausência como '?'
print(df.eq('?').sum())

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64
buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [6]:
# Contar número de categorias únicas por coluna
categorias_unicas = df.nunique()
display(categorias_unicas)

buying      4
maint       4
doors       4
persons     3
lug_boot    3
safety      3
class       4
dtype: int64